# route
.react-router/

# log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# style
*.scssc
*.css.map

# open source internals
*lock.json
node_modules
dist
dist-ssr
*.local
.eslintrc
.prettierrc
yarn.lock
+register.ts
*.d.ts

# IDE directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?