@use 'variables_colors-fonts.sass'
@use 'fonts.sass'
@use 'header.sass'
@use 'banner.sass'
@use 'card.sass'
@use 'gallery.sass'
@use 'footer.sass'

#root
    max-width: 1440px
    margin: 0
    padding: 0
    @extend %font-base
    @extend %bckgrd-white