/****** placeholders ******/
#root {
  font-family: "Montserrat", sans-serif;
}

.value__h2, .error-title__h1, .banner-title__h1 {
  font-weight: 700;
}

.housing__h2, p,
.header__a, .error__a, .error-title__h2 {
  font-weight: 500;
}

.error-title__h1 {
  font-size: 6rem;
}

.error-title-size__h2 {
  font-size: 2.25rem;
}

.banner-title__h1 {
  font-size: 1.5rem;
}

.card-title__h2, .housing-title__h1 {
  font-size: 1.125rem;
}

.housing__h2 {
  font-size: 0.875rem;
}

.value__h2 {
  font-size: 0.8125rem;
}

.value__p, p,
.header__a {
  font-size: 0.75rem;
}

.header__a, .error__a {
  color: black;
}

footer p, .value__h2, .banner-title__h1 {
  color: white;
}

.error-title__h2, .error-title__h1, .font-red {
  color: #ff6060;
}

#root {
  background-color: white;
}

footer {
  background-color: black;
}

.gallery-background {
  background-color: #f6f6f6;
}

.banner-title__h1 {
  line-height: 143%;
}

.error-title__h1 {
  line-height: 143%;
  margin-top: 18px;
  margin-bottom: 65px;
  text-align: center;
}

.error-title__h2 {
  line-height: 143%;
  text-align: center;
}

.housing-title__h1 {
  text-align: left;
}

.error__a {
  line-height: 143%;
  margin: 136px 0;
  text-align: center;
}

.value__h2 {
  line-height: 143%;
}

.value__p {
  line-height: 143%;
}

.housing__h2 {
  line-height: 143%;
}

@media (min-width: 1024px) {
  .banner-title__h1 {
    font-size: 3rem;
  }
  .error-title__h1 {
    font-size: 18rem;
  }
  .error-title__h2 {
    font-size: 2.25rem;
  }
  .error__a {
    font-size: 1.125rem;
  }
  p,
  .header__a,
  .value__h2 {
    font-size: 1.5rem;
  }
  .value__p {
    font-size: 1.125rem;
  }
  .housing__h2 {
    font-size: 1.125rem;
  }
}
header {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header nav {
  display: flex;
  align-items: center;
  gap: 26px;
}
header nav a {
  white-space: nowrap;
}

@media (min-width: 1024px) {
  header {
    padding: 45px 0;
  }
  header nav {
    gap: 57px;
  }
}
.banner {
  position: relative;
  height: 111px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.banner-image {
  object-fit: cover;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.banner-home::before {
  background-color: rgba(0, 0, 0, 0.6);
}
.banner-about::before {
  background-color: rgba(0, 0, 0, 0.3);
}
.banner-title__h1 {
  position: absolute;
  bottom: 20px;
  left: 4.26667vw;
}

@media (max-width: 430px) {
  .banner-title__h1 {
    bottom: 0;
  }
}
@media (min-width: 1024px) {
  .banner {
    height: 223px;
    align-items: center;
    border-radius: 25px;
  }
  .banner-title__h1 {
    position: relative;
    white-space: nowrap;
    bottom: 413px;
    left: 250px;
  }
}
.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 1/1;
}
.card-picture {
  object-fit: cover;
  width: 100%;
}
.card-title__h2 {
  position: absolute;
  padding: 0 20px;
  bottom: 20px;
  left: 0;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .card-picture {
    height: 100%;
  }
}
.gallery {
  margin: 25px 0;
}
.gallery-background {
  padding: 0;
  border-radius: 25px;
  gap: 22px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 1024px) {
  .gallery {
    margin: 50px 0;
  }
  .gallery-background {
    padding: 56px;
    gap: 60px 50px;
    grid-template-columns: repeat(3, 1fr);
  }
}
.collapse-container {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collapse-container .collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  border-radius: 5px;
  background-color: #ff6060;
  padding: 15px;
  box-sizing: border-box;
}
.collapse-container .collapse .material-symbols-outlined {
  font-size: 24px;
}
.collapse-container .collapse-toggle {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  color: white;
  height: 20px;
}
.collapse-container .collapse-toggle.open {
  transform: rotate(180deg);
}
.collapse-container .value__p {
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}
.collapse-container .value__p-open {
  max-height: 150px;
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 5px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .values {
    margin-top: 38px;
    padding: 0 8.75%;
  }
  .values .collapse {
    max-width: 1023px;
    height: 54px;
  }
  .values .collapse .material-symbols-outlined {
    font-size: 32px;
  }
  .values .value__p-open {
    margin-bottom: 38px;
  }
}
@media (prefers-reduced-motion) {
  .values .collapse-toggle {
    transition: transform 6s ease-in-out;
  }
  .values .value__p {
    transition: max-height 6s ease-in-out;
  }
}
.margin-bottom {
  margin-bottom: 150px;
}

@media (min-width: 1024px) {
  .collapse-container .collapse .value__h2 {
    font-size: 1.125rem;
  }
}
footer {
  padding: 66px 0 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
footer p {
  margin-block-end: 0;
}

@media (min-width: 1024px) {
  footer {
    padding: 66px 0 29px;
    gap: 28px;
  }
}
body, h2 {
  margin: 0;
  padding: 0;
}

.layout-container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.headings-map-compliance {
  color: white;
  line-height: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media (min-width: 1024px) {
  .layout-container {
    max-width: 1240px;
    padding: 0 100px;
  }
}

/*# sourceMappingURL=main.css.map */
