.banner {
    position: relative;
    height: 111px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);

    &-image {
        object-fit: cover;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }

    &-title__h1 {
        position: absolute;
    }
}

@media (min-width: 1024px) {
    .banner {
        height: 220px;
        align-items: center;

        &-title__h1 {
            white-space: nowrap;
            min-width: fit-content;
        }
    }
}
