.banner {
    position: relative;
    height: 111px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);

    &-image {
        object-fit: cover;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }

    &-title__h1 {
        position: absolute;
        left: 4.26667vw;
        width: 69%;
    }
}

@media (min-width: 1024px) {
    .banner {
        height: 223px;
        align-items: center;
        border-radius: 25px;

        &-title__h1 {
            position: relative;
            white-space: nowrap;
            bottom: 413px;
            left: 0;
        }
    }
}
