.card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    &-picture {
        object-fit: cover;
        width: 100%;
        height: 255px;
    }

    &-title__h2 {
        position: absolute;
        bottom: 8px;
        left: 20px;
        color: white;
        width: 85px;
    }
}

@media (min-width: 1024px) {
    .card {
        &-picture {
            height: 100%;
        }
    }
}
