.collapse-container {
    margin-top: 19px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .collapse {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        border-radius: 5px;
        background-color: #ff6060;
        padding: 15px;
        box-sizing: border-box;

        .material-symbols-outlined {
            font-size: 24px;
        }

        &-toggle {
            pointer-events: none;
            cursor: none;
            transition: transform 0.3s ease-in-out;
            color: white;
            height: 20px;
        }

        &-toggle.open {
            transform: rotate(180deg);
        }
    }

    .value__p, 
    .value__div, 
    .description__p {
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;

        &-open {
            background-color: #f6f6f6;
            padding: 10px;
            border-radius: 5px;
            margin-block-start: 0;
            margin-block-end: 0;
            margin-bottom: 20px;

            p {
                margin-block-start: 0;
                margin-block-end: 0;
            }
        }
    }
}

@media (min-width: 1024px) {
    .collapse-container {
        margin-top: 38px;
        margin-bottom: 0;
        padding: 0 8.75%;

        .collapse {
            max-width: 1023px;
            height: 54px;

            .material-symbols-outlined {
                font-size: 32px;
            }
        }

        .value__p, 
        .value__div, 
        .description__p {
            &-open {
                margin-bottom: 38px;
                padding: 20px;
            }
        }
    }
}

@media (prefers-reduced-motion) {
    .collapse-container {
        .collapse-toggle {
            transition: transform 6s ease-in-out;
        }

        .value__p, 
        .value__div {
            transition: max-height 6s ease-in-out;
        }
    }
}