.banner {
    &-title__h1 {
        @extend %font-color-white;
        @extend %font-weight-bold;
        @extend %font-L;
        line-height: 143%;
    }
}

.error-title__h1 {
    @extend %font-color-red;
    @extend %font-weight-bold;
    @extend %font-XXXL;
    line-height: 143%;
    margin-top: 18px;
    margin-bottom: 65px;
    text-align: center;
}

.error-title__h2 {
    @extend %font-color-red;
    @extend %font-weight-medium;
    @extend %font-XL;
    line-height: 143%;
    text-align: center
}

.error__a {
    @extend %font-color-black;
    @extend %font-weight-medium;
    line-height: 143%;
    margin: 136px 0;
    text-align: center;
}

.card-title__h2 {
    @extend %font-M;
}

p,
.header__a {
    @extend %font-weight-medium;
    @extend %font-S;
}

.value__h2 {
    @extend %font-weight-bold;
    @extend %font-S;
    @extend %font-color-white;
}

.header__a {
    @extend %font-color-black;
}

.value__p {
    @extend %font-S;
}

@media (min-width: 1024px) {
    .banner-title__h1 {
        font-size: $font-size-XXL;
    }

    .error-title__h1 {
        font-size:  $font-size-XXXXL;
    }

    .error-title__h2 {
        font-size: $font-size-XL;
    }

    .error__a {
        font-size: $font-size-M;
    }

    p,
    .header__a, 
    .value__h2 {
        font-size: $font-size-L;
    }

    .value__p {
        font-size: $font-size-M;
    }
}
