.banner {
    &-title__h1 {
        @extend %font-color-white;
        @extend %font-weight-bold;
        @extend %font-L;
        line-height: 143%;
    }
}

.card-title__h2 {
    @extend %font-M;
}

p,
a {
    @extend %font-weight-medium;
    @extend %font-S;
}

.value__h2 {
    @extend %font-weight-bold;
    @extend %font-S;
    @extend %font-color-white;
}

a {
    @extend %font-color-black;
}

.value__p {
    @extend %font-S;
}

@media (min-width: 1024px) {
    .banner-title__h1 {
        font-size: $font-size-XL;
    }

    p,
    a, 
    .value__h2 {
        font-size: $font-size-L;
    }

    .value__p {
        font-size: $font-size-M;
    }
}
