.banner {
    &-title__h1 {
        @extend %font-color-white;
        @extend %font-weight-bold;
        @extend %font-L;
        line-height: 143%;
    }
}

.font-red {
    @extend %font-color-red;
}

.error-title__h1 {
    @extend %font-color-red;
    @extend %font-weight-bold;
    @extend %font-XXXL;
    line-height: 143%;
    margin-top: 75px;
    margin-bottom: 90px;
    text-align: center;
}

.error-title__h2 {
    @extend %font-color-red;
    @extend %font-weight-medium;
    line-height: 143%;
    text-align: center
}

.error-title-size__h2 {
    @extend %font-XL;
}

.housing-title__h1 {
    text-align: left;
    @extend %font-M;
    margin-bottom: 0;
}

.error__a {
    @extend %font-color-black;
    @extend %font-weight-medium;
    line-height: 143%;
    margin: 108px 0;
    text-align: center;
}

.card-title__h2 {
    @extend %font-M;
}

p,
.header__a {
    @extend %font-weight-medium;
    @extend %font-XXS;
}

.value__h2 {
    @extend %font-weight-bold;
    @extend %font-XS;
    @extend %font-color-white;
    line-height: 143%;
}

.header__a {
    @extend %font-color-black;
}

.value__p {
    @extend %font-XXS;
    line-height: 143%;
}

.housing__h2, 
.equipment__p, 
.description__p-open {
    @extend %font-weight-medium;
    @extend %font-S;
    line-height: 143%;
}

.tag__p {
    @extend %font-color-white;
    @extend %font-weight-bold;
    @extend %font-XXXS;
    line-height: 143%;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media (min-width: 1024px) {
    .banner-title__h1 {
        font-size: $font-size-XXL;
    }

    .error-title__h1 {
        font-size:  $font-size-XXXXL;
    }

    .error-title__h2 {
        font-size: $font-size-XL;
    }

    .error__a {
        font-size: $font-size-M;
    }

    .header__a, 
    .value__h2, 
    p {
        font-size: $font-size-L;
    }

    .value__p, 
    .housing__h2, 
    .equipment__p, 
    .description__p-open,
    p {
        font-size: $font-size-M;
    }

    .tag__p {
        font-size: $font-size-S;
    }
}
