footer {
    @extend %background-color-black;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 209px;

    img {
        margin-bottom: 2vh;
    }

    p {
        @extend %font-color-white;
        width: 25%;
    }
}

@media (min-width: 1024px) {
    footer {
        height: 145px;
    }
}
