footer {
    @extend %background-color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 209px;

    img {
        margin-bottom: 0;
    }

    p {
        @extend %font-color-white;
        width: 133.59px;
        margin-block-end: 0;
    }
}

@media (min-width: 1024px) {
    footer {
        height: 145px;

        img {
            margin-bottom: 2vh;
        }
    }
}
