footer {
    padding: 66px 0 58px;
    @extend %background-color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;

    p {
        @extend %font-color-white;
        margin-block-end: 0;
    }
}

@media (min-width: 1024px) {
    footer {
        padding: 66px 0 29px;
        gap: 28px;
    }
}
