header {
    padding: 6vh 6vw 6vh 0;
    display: flex;
    justify-content: space-between;

    nav {
        display: flex;
        align-items: center;
        gap: 30%;

        a {
            white-space: nowrap;
        }
    }
}
