header {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    nav {
        display: flex;
        align-items: center;
        gap: 26px;

        a {
            white-space: nowrap;
        }
    }
}

@media (min-width: 1024px) {
    header {
        padding: 45px 0;

        nav {
            gap: 57px;
        }
    }
}
