@import './animations/slider.scss';

.margin-bottom {
    margin-bottom: 150px;
}

.cover {
    object-fit: cover;
    width: 100%;
    height: 100%;

    &-container {
        border-radius: 10px;
        height: 255px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;

        .arrow {
            background: transparent;
            border: none;
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: white;
            z-index: 1;

            span {
                font-size: 24px;
            }

            &.left {
                left: 7px;
            }

            &.right {
                right: 0;
            }
        }

        .counter {
            position: absolute;
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%);
            color: white;
        }
    }
}

.titles-tags-stars-host {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
        
        .tag {
            background-color: $color-red;
            border-radius: 5px;
            padding: 2px 30px 1px 30px;
            max-height: 18px;
        }
    }

    .stars-host {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .stars {
            max-width: 60%;

            .star {
                max-width: 18px;
            }
        }

        .host {
            display: flex;
            align-items: center;
            justify-content: right;

            .value__p, 
            .value__div {
                max-width: 50%;
            }

            &-picture {
                max-width: 32px;
                border-radius: 50%;
            }
        }
    }
}

@media (min-width: 1024px) {
    .cover {
        &-container {
            border-radius: 25px;
            height: 415px;
        }
    }

    .slider {
        &-container {
            .arrow {
                span {
                    font-size: 96px;
                }
            
                &.left {
                    left: 20px;
                }
            }
        }
    }

    .titles-tags-stars-host {
        flex-direction: row;

        .tags {
            margin-top: 17px;
            margin-bottom: 25px;

            .tag {
                max-height: 25px;
            }
        }

        .stars-host {
            flex-direction: column-reverse;
            padding-top: 11px;
            padding-bottom: 25px;

            .stars-rating-error { 
                max-width: 189px;
            }

            .stars {
                max-width: 100%;

                .star {
                    max-width: 36px;
                }
            }

            .host {
                &-picture {
                    max-width: 64px;
                }
            }
        }
    }

    .collapse-container-housing {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0;
        margin-bottom: 14px;

        .collapse {
            .value__h2 {
                font-size: $font-size-M;
            }
        }
    }
}