@import 'variables_colors-fonts.scss';
@import 'fonts.scss';
@import 'header.scss';
@import 'banner.scss';
@import 'card.scss';
@import 'gallery.scss';
@import 'footer.scss';

#root {
    margin: 0;
    padding: 0;
    @extend %font-family-primary;
    @extend %background-color-white;
    max-width: 1440px;
}

.layout-container {
    padding: 0 3.2vw;
}

@media (min-width: 1024px) {
    .layout-container {
        max-width: 1240px;
        padding: 0 6.945vw;
    }
}
