@import 'variables_colors-fonts.scss';
@import 'fonts.scss';
@import 'header.scss';
@import 'banner.scss';
@import 'card.scss';
@import 'gallery.scss';
@import 'collapse-container.scss';
@import 'housing.scss';
@import 'footer.scss';

body, h2 {
    margin: 0;
    padding: 0;
}

#root {
    @extend %font-family-primary;
    @extend %background-color-white;
}

.layout-container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
}

.underline {
    text-decoration: underline;
}

.no-underline{
    text-decoration: none;
}

.headings-map-compliance {
    color: white;
    line-height: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media (min-width: 1024px) {
    .layout-container {
        max-width: 1240px;
        padding: 0 100px;
    }
}
