$font-family-primary: 'Montserrat', sans-serif;

$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-XXXXL: 18rem;
$font-size-XXXL: 6rem;
$font-size-XXL: 3rem;
$font-size-XL: 2.25rem;
$font-size-L: 1.5rem;
$font-size-M: 1.125rem;
$font-size-S: 0.875rem;
$font-size-XS: 0.8125rem;
$font-size-XXS: 0.75rem;
$font-size-XXXS: 0.625rem;

$color-black: black;
$color-white: white;
$color-red: #ff6060;

$background-color-gallery: #f6f6f6;

@mixin font-family($family) {
    font-family: $family;
}

@mixin font-weight($weight) {
    font-weight: $weight;
}

@mixin font-size($size) {
    font-size: $size;
}

@mixin font-color($color) {
    color: $color;
}

@mixin background-color($color) {
    background-color: $color;
}

/****** placeholders ******/
%font-family-primary {
    @include font-family($font-family-primary);
}

%font-weight-bold {
    @include font-weight($font-weight-bold);
}

%font-weight-medium {
    @include font-weight($font-weight-medium);
}

%font-XXXXL {
    @include font-size($font-size-XXXXL);
}

%font-XXXL {
    @include font-size($font-size-XXXL);
}

%font-XXL {
    @include font-size($font-size-XXL);
}

%font-XL {
    @include font-size($font-size-XL);
}

%font-L {
    @include font-size($font-size-L);
}

%font-M {
    @include font-size($font-size-M);
}

%font-S {
    @include font-size($font-size-S);
}

%font-XS {
    @include font-size($font-size-XS);
}

%font-XXS {
    @include font-size($font-size-XXS);
}

%font-XXXS {
    @include font-size($font-size-XXXS);
}

%font-color-black {
    @include font-color($color-black);
}

%font-color-white {
    @include font-color($color-white);
}

%font-color-red {
    @include font-color($color-red);
}

%background-color-white {
    @include background-color($color-white);
}

%background-color-black {
    @include background-color($color-black);
}

%background-color-gallery {
    @include background-color($background-color-gallery);
}
