#banner {
    position: relative;
    //margin: 0 6.945vw;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);

    #banner-image {
        width: 100%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    #banner-title {
        position: absolute;
        top: 32%;
        left: 51%;
        transform: translate(-50%, -50%);
        z-index: 2;
        white-space: nowrap;
    }

    #banner-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }
}
