.title {
    &__h1home {
        @extend %font-color-white;
        @extend %font-bold;
        @extend %font-L;
        line-height: 143%;
    }
}

p,
a {
    @extend %font-medium-weight;
    @extend %font-S;
}

a {
    @extend %font-color-black;
}

@media (min-width: 1024px) {
    .title__h1home {
        font-size: $font-size-XL;
    }

    p,
    a {
        font-size: $font-size-L;
    }
}
