#header {
    padding: 3.5% 8%;
    display: flex;
    justify-content: space-between;

    nav {
        margin-right: 6%;
        display: flex;
        align-items: center;
        gap: 30%;

        a {
            white-space: nowrap;
        }
    }
}
